<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DestPort" value="37020" />
		<add key="BroadcastAddress" value="239.255.255.250" />
		<add key="BroadcastMac" value="01:00:5e:7f:ff:fa" />
		<add key="CameraMac" value="3c-8c-f8-a1-92-91" />
	</appSettings>
</configuration>